# Global options
{
  debug
}

:80 {
  log {
    output stdout
    format json
    level DEBUG
  }

  # API: прокидываем в бэкенды, срезая только /api
  handle /api/graph/* {
    uri strip_prefix /api
    reverse_proxy graph_server:8001
  }
  handle /api/res/* {
    uri strip_prefix /api
    reverse_proxy file_server:8081
  }
  handle /api/res {
    uri strip_prefix /api
    reverse_proxy file_server:8081
  }
  handle /api/* {
    respond "Not found" 404
  }
  # фронтенд (SPA) — проксируем на контейнер с готовой сборкой
  handle {
    reverse_proxy frontend:3000
  }
}
